# Common
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Backend
Backend/venv/
Backend/env/
Backend/__pycache__/
Backend/*.pyc
Backend/db.sqlite3
Backend/.env
Backend/htmlcov/
Backend/.pytest_cache/
Backend/.coverage

# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/package-lock.json
