# Frontend
frontend/

# PDF files
*.pdf

# Pytest
pytest.ini
.pytest_cache/

# Python
__pycache__/
*.pyc
db.sqlite3
.coverage
htmlcov/
create_board.py

# Virtual environment
venv/
.venv/

# Postman
*.postman_collection.json
postman/

# Claude
.claude/

# Screenshots / Doku-Bilder
endpoint_big_chunk_*.png
endpoint_chunk_*.png
endpoint_doc*.png
ersmohamd*.ps1

# Environment
.env
